@import '../../sass/variables.scss';

.post {
  display: flex;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid $grey;
  cursor: pointer;
  background: $black;
  &:hover {
    background: rgba(44, 38, 39, 0.1);
    transition: 400ms ease-in-out;
  }
}

.avatar__img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: $br;
}
.post__details {
  margin-left: 2rem;
  max-width: 90%;
  display: flex;
  justify-content: right;
  flex-direction: column;
}
.post__user {
  display: flex;
  padding-bottom: 0.25rem;
  //   align-items: baseline;
  align-items: center;
  width: 100%;
}
.post__name {
  text-transform: capitalize;
  margin-right: 0.25rem;
  font-weight: 800;
  font-size: 0.94rem;
}
.post__handle {
  color: $disabledGrey;
  margin-left: 0.1rem;
  margin-right: 0.25rem;
  font-size: 0.94rem;
}
.post__dot {
  color: $disabledGrey;
}
.post__timestamp {
  color: $disabledGrey;
  margin-left: 0.25rem;
  font-size: 0.94rem;
}
.post__dotsWrap {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: right;
}
.post__dots {
  height: 1.75rem;
  margin-bottom: -5px;
  margin-left: auto;
  color: $disabledGrey;
  border-radius: $br;
  padding: 0.25rem;
  &:hover {
    color: $blue;
    background: $iconHoverBlue;
    transition: 200ms ease-in;
  }
}
.post__text {
  font-size: 0.94rem;
}
.post__imgWrap {
  max-width: 100%;
  padding-top: 1rem;
}
.post__img {
  max-width: 95%;
  max-height: 700px;

  border-radius: 1rem;
}
.post__iconWrap {
  display: flex;
  padding-top: 2rem;
  align-items: center;
}
.post__icon {
  margin-right: 4rem;
  display: flex;
}
.post__icon > * {
  color: $disabledGrey;
  font-size: 1.8rem;

  //   margin-right: 4rem;
  cursor: pointer;
  padding: 0.35rem;
  border-radius: $br;

  &:hover {
    color: $blue;
    background: $iconHoverBlue;
    transition: 200ms ease-in;
  }
}
.post__likeCount {
  font-size: 0.95rem;
  color: rgba(249, 24, 128, 1);
}
.post__iconBlue {
  &:hover {
  }
}
.post__repost {
  &:hover {
    background: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 0.8);
  }
  //   font-size: 2.25rem;
}
.post__heart,
.post__trash {
  &:hover {
    background: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
  }
}
.post__heartLiked {
  color: rgba(249, 24, 128, 1) !important;
  &:hover {
    background: rgba(249, 24, 128, 0.1);
  }
}
