@import '../../sass/variables.scss';

.sidebar {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  flex: 0.1;
  border-right: 1px solid $grey;
  // margin-left: 1rem;
  // width: 100px;
}
.sidebar__logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  width: 3.25rem;
  padding: 0.75rem;
  //   margin-left: -1rem;
  border-radius: $br;
  cursor: pointer;
  &:hover {
    background: $hover;
    transition: 200ms ease-in;
  }
}
.sidebar__linksWrap {
  padding: 0.75rem;
}

.sidebar__logo {
  color: $white;
  height: 100%;
  width: 100%;
  //   margin-left: 1rem;
  padding-left: 0;
  //   margin-left: -2rem;
}
.sidebar__link {
  color: $white;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  margin: 0.5rem 0;
  font-weight: 300;
  border-radius: $br;
  text-decoration: none;
  //   display: inline-flex;
  &:hover {
    background: $hover;
    transition: 200ms ease-in;
  }
}
.active {
  font-weight: 900;
}
.sidebar__linkText {
  display: none;
}
.sidebar__button {
  color: $white;
  background: $blue;
  padding: 0.8rem 3.5rem;
  border-radius: $br;
  width: 100%;
  max-width: 250px;
  //   margin-top: 1rem;
  margin-left: 5rem;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $btnHoverBlue;
    transition: 300ms ease-out;
  }
}
.sidebar__imgWrap {
  display: flex;
  justify-content: center;
  //   margin-left: -2.5rem;
  //   width: 270px;
  position: relative;
  margin-top: auto;
}
.sidebar__popup {
  display: none;
  box-shadow: $popupBS;
}
.sidebar__popup__active {
  display: flex;
  position: absolute;
  top: -210px;
  right: -250px;
  width: 300px;
  height: 200px;
  box-shadow: $popupBS;
  background: $black;
  border-radius: 1rem;
}

.sidebar__popupInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding: 1rem;
}
.popup__userInfo {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $grey;
  padding: 1rem;
}
.popup__username,
.popup__userHandle {
  margin-left: 0.5rem;
}
.popup__check {
  color: $blue;
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: 800;
}
.popup__userActions {
  color: $white;
}
.popup__otherAcct,
.popup__logout {
  padding: 1rem;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: $white;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background: $hover;
    transition: 200 ease-out;
  }
}
.sidebar__img {
  height: 2.5rem;
  object-fit: cover;
  width: 2.5rem;
  border-radius: $br;
  color: $white;
  cursor: pointer;
  //   margin-left: -1.5rem;
}
.sidebar__userInfo {
  display: none;
  line-height: 1.25;
}
.sidebar__username,
.popup__username {
  font-weight: 800;
  color: $white;
}
.sidebar__userHandle,
.popup__userHandle {
  color: $disabledGrey;
  font-weight: 400;
}
.sidebar__dotsWrap {
  display: none;
  align-items: center;
  margin-left: 1rem;
}
.sidebar__dots {
  color: $white;
  font-size: 1.25rem;
}
@media (min-width: $sm) {
  .sidebar {
    display: flex;
  }
}

@media (min-width: $xl) {
  .sidebar {
    align-items: start;
    // width: 370px;
    display: flex;
    flex: 0.3;
  }
  .sidebar__logoWrap {
    margin-left: 6.75rem;
  }
  .sidebar__logo {
    margin-left: 0;
  }
  .sidebar__link {
    display: inline-block;
    padding: 0.75rem 1rem 0.75rem 0.75rem;
  }
  .sidebar__linksWrap {
    margin-left: 6rem;
  }
  .sidebar__linkIcon {
    margin-right: 1rem;
  }
  .sidebar__linkText {
    display: inline;
  }
  .sidebar__button {
    display: inline;
    margin-left: 5rem;
    font-size: 1.1rem;
    font-weight: 500;
    &hover {
      background: #1aacda;
    }
  }
  .sidebar__imgWrap {
    margin-left: 5rem;
    margin-top: auto;
    margin-bottom: 1rem;
    width: 280px;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: $br;
    cursor: pointer;
    &:hover {
      background: $hover;
      transition: 200 ease-out;
    }
  }
  .sidebar__img {
    margin-left: 0;

    margin-right: 1rem;
    object-fit: cover;
  }
  .sidebar__userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sidebar__dotsWrap {
    display: flex;
  }
  .sidebar__popup__active {
    display: flex;
    position: absolute;
    top: -210px;
    right: -40px;
    width: 300px;
    height: 200px;
    box-shadow: $popupBS;
    background: $black;
    border-radius: 1rem;
    // margin-top: auto;
  }
}
